h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}



#headerGrid{
    margin-left: 450px;
}


#headerRow{
    display: inline-block;
  margin-top: 50px;
}

#headerText{
    margin-top: 20px;
}

