.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.item{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
  color: black;
}

a:hover{
  color: black;
}

.linkTo{
  color: fuchsia;
}

#homepage{
  align-content: center;
  margin-left: 100px;
}


.loadingContainer{
  text-align: center
}

.loadingWrapper{
  display: inline-block
}

.item{
  display: inline-block;
    
}


.oneTextBox{
  background-color: fuchsia;
  text-align: center;
  width: 500px;
  border-right: 30px;
}

.description{
  text-align: center;
}

.graphBox{
  background-color: #FEDDD6
}

#infoBox{
  margin-left: 150px;
}

.ui.padded.segment{
  height: 250px;
  background-color: #FEDDD6;
}