.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.item{
  font-family: Arial, Helvetica, sans-serif
}

*{
  font-family: Arial, Helvetica, sans-serif
}

a{
  color: black;
}

a:hover{
  color: black;
}

h3, h1, p{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.linkTo{
  color: fuchsia;
}

#homepage{
  align-content: center;
  margin-left: 100px;
}

#wrapper{
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  min-width: 500px;
}

.loadingContainer{
  text-align: center
}

.loadingWrapper{
  display: inline-block
}

.item{
  display: inline-block;
    
}

.ui.button{
  background-color: #ff0080;
  color: white;
}

.ui.button:hover {
  background-color: #ff6600; 
  color: white;
}

.ui.button:focus {
  background-color: #ff6600; 
  color: white;
}

.description{
  text-align: center;
}

.graphBox{
  background-color: #FEDDD6;
  padding-right: 100px;
  text-align: center;
}

#infoBox{
  margin-left: 150px;
}

.ui.padded.segment{
  height: 250px;
  background-color: #FEDDD6;
}

#leftTopLinkColomn{
  padding-top: 100px;
  padding-left: 200px;
  text-align: center;
}

#leftBottomLinkColomn{
  padding-bottom: 100px;
  padding-left: 200px;
  text-align: center;
}

#rightTopLinkColomn{
padding-top: 100px;
padding-right: 200px;
text-align: center;
}

#rightBottomLinkColomn{
  padding-bottom: 100px;
  padding-right: 200px;
  text-align: center;
  }

#question{
position:absolute;
left:0;
right:0;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
height: 350px;
text-align: center;
display:block;
 margin:auto;
}

.ui.inverted.green.segment{
  background-color: #CAE3E8 !important;
  text-align: center;
}

.ui.inverted.brown.segment{
  background-color: #FFF4EE !important;
  text-align: center;
}

.title{
color: #EF4206;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif
}

.subtitle{
  color: #EF4206;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.bigQuote{
  color: #59ADAF;
  font-size: 18px;
}

.explanation{
  color: #59ADAF;
  font-size: 15px;
}

